.cover {
    padding: 0;
    text-align: center;
}

.cover .forkMe {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.cover-frame {
    position: relative;
    height: 100vh;
    min-width: 100%;
}

.cover-frame .bg-box {
    width: 100%;
    height: 100%;
}

.cover-frame .bg-box>img {
    2
    display: block;
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.cover-inner {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -100%);
}

.cover-inner h1 {
    margin: 0;
    font-size: 7rem;
    opacity: .95;
}

.cover-inner #subtitle-box,
.cover-inner h1 {
    font-family: Titillium Web, PingFang SC, Hiragino Sans GB, Microsoft JhengHei, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.cover-inner #subtitle-box {
    margin: .5rem 0 1.5rem;
    font-size: 3rem;
}

.cover-inner,
.cover-inner a {
    color: #fff;
    text-decoration: none;
}

.cover-inner img,
.cover-inner video {
    position: relative;
}

.cover-inner .cover-logo {
    width: 6rem;
}

.cover-learn-more {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
    width: 100%;
}

.cover-learn-more a>i {
    color: #fff;
    font-size: 3rem;
    -webkit-animation: down 1s linear infinite;
    animation: down 1s linear infinite;
}

.cover-learn-more a>i:hover {
    color: #1e3e3f;
}

#app,
.cover {
    position: relative;
}

@media (min-width:768px) {
    .cover {
        margin-bottom: 0;
        height: 100%;
    }

    .outer,
    .wrap {
        padding-right: 0;
        padding-left: 0;
        width: 70rem;
    }

    .local-search {
        width: 70rem;
    }

    .content.on {
        transform: none;
    }
}

@media (max-width:768px) {
    .cover .forkMe {
        display: none;
    }

    .content.on {
        margin-left: -1px!important;
    }

    .sidebar {
        background-color: #403e3e;
    }

    .navbar-toggle {
        transform: scale(1.1);
    }
}

@media (max-width:768px) {
    .cover-inner {
        width: 100%;
        transform: translate(-50%, -70%);
    }

    .cover-inner h1 {
        font-size: 4.5rem;
    }

    .cover-inner #subtitle-box {
        font-size: 2rem;
    }

    .to_top {
        right: 10px;
    }
}

.cover-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

img {
    max-width: 100%;
}

.cover-frame {
    position: relative;
    height: 100vh;
    min-width: 100%;
}

.cover-frame .bg-box {
    width: 100%;
    height: 100%;
}

.cover-frame .bg-box>img {
    display: block;
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.cover-inner h1 {
    margin: 0;
    font-size: 7rem;
    opacity: .95;
}

.cover-inner #subtitle-box,
.cover-inner h1 {
    font-family: Titillium Web, PingFang SC, Hiragino Sans GB, Microsoft JhengHei, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.cover-inner #subtitle-box {
    font-size: 3rem;
    /*margin: .5rem 0 1.5rem*/
}

.cover-inner,
.cover-inner a {
    color: #fff;
    text-decoration: none;
}

.cover-inner img,
.cover-inner video {
    position: relative;
}

.cover-inner .cover-logo {
    width: 6rem;
}

.cover-learn-more {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
    width: 100%;
}

.cover-learn-more a>i {
    color: #fff;
    font-size: 3rem;
    -webkit-animation: down 1s linear infinite;
    animation: down 1s linear infinite;
}

.cover-learn-more a>i:hover {
    color: #1e3e3f;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

body {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 17px;
}

@media screen and (max-width: 1260px) {
    body {
        margin: 0 0px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Microsoft YaHei";
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

a {
    color: #0cf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.inner {
    margin: 0 auto;
    width: 1200px;
}

@media screen and (max-width: 1260px) {
    .inner {
        width: 100%;
    }
}

#main-col {
    width: 900px;
}

@media screen and (max-width: 1260px) {
    #main-col {
        margin-right: -300px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    #main-col {
        float: none;
        margin-right: 0;
    }
}

@media screen and (max-width: 1260px) {
    #wrapper {
        margin-right: 300px;
    }
}

@media screen and (max-width: 900px) {
    #wrapper {
        margin-right: 0;
    }
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #15253a;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

#header {
    margin: 50px auto;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #0cf;
    text-decoration: none;
}

#header h1 {
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1;
}

#header h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1;
}

#header #main-nav {
    font-family: "Microsoft YaHei";
    line-height: 2.5em;
}

#header #main-nav ul {
    list-style: none;
}

# #main-nav ul {
    list-style: none;
}

#header #main-nav ul li {
    float: left;
    margin-left: 30px;
}

#footer #main-nav ul li {
    float: left;
    margin-left: 30px;
}

article {
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.32);
}


article.post .icon {
    content: url("/image/3061912.svg");
}


article .post-content {
    position: relative;
    margin-bottom: 50px;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    article .post-content {
        padding-left: 20px;
    }
}


article header .icon {
    position: absolute;
    top: 8.5px;
    left: 4.25px;
    /*margin-right: 48px;*/

    width: 64px;
    height: 64px;
    color: #0cf;
    content: 
}

    article header .icon {
        display: none;
    }
article header .icon:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    text-align: center;
    font: 32px FontAwesome;
}

article header time {
    display: inline;
/*    margin-top: -20px;
    padding-top: -20px;*/
    color: #fff;
    font: 0.9em "Microsoft YaHei";
    line-height: 0;
}

article header .title {
    font-weight: normal;
}

article header .title a {
    color: #fff;
}

article header .title a:hover {
    color: #0cf;
    text-decoration: none;
}

article .entry {
    text-align: justify;
    line-height: 1.6;
}

article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6,
article .entry .video-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.entry p:after {
    content: <hr>;
}

article .entry blockquote {
    padding: 0 15px;
    border-left: 4px solid #ddd;
    color: #ccc;
    /*footer
        border-top none
        font-size 0.8em
        line-height 1
        margin 20px 0 0
        padding-top 0
        cite
          &:before
            content '—'
            color #ccc
            padding 0 0.5em*/
}

article .entry blockquote>:first-child {
    margin-top: 0px;
}

article .entry blockquote>:last-child {
    margin-bottom: 0px;
}

article .entry code,
article .entry pre {
    font-family: Consolas, Monaco, Lucida Console, monospace;
}

article .entry code {
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 0.9em;
}

article .entry pre {
    overflow: auto;
    margin-top: 15px;
    padding: 7px 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

article .entry pre code {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
}

article .entry ul,
article .entry ol,
article .entry dl {
    margin-left: 20px;
}

article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
    margin-top: 0;
}

article .entry hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dotted #ddd;
    border-bottom: none;
        /*display: inline;*/
        width: solid;
}

article .entry h1,
article .entry h2 {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-weight: normal;
}

article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
    font-weight: normal;
}

article .entry img,
article .entry video {
    height: auto;
    max-width: 100%;
    border: none;
}

article .entry iframe {
    border: none;
}


time {
    /*content: <br>;*/
    float:right;
}

#sidebar {
    width: 270px;
    line-height: 1.8em;
}

@media screen and (max-width: 900px) {
    #sidebar {
        float: none;
        width: 100%;
    }
}

#footer {
    margin-bottom: 50px;
    color: #fff;
    font: 0.9em/1.6 "Microsoft YaHei";
}


div#content.inner {
    padding-top: 25px;
}







#opener:hover {
    -webkit-transition-delay: 0;
    transition-delay: 0;
    opacity: 1;

}
#opener {
    cursor: pointer;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 8px solid rgb(0, 92, 255);
    border-right: 8px solid rgb(0, 92, 255);
    position: absolute;
        top: 85%;
      left: 50%;
    -webkit-animation: opener .5s ease-in-out alternate infinite;
    animation: opener .5s ease-in-out alternate infinite;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity .2s ease-in-out, transform .5s ease-in-out .2s;
    transition: opacity .2s ease-in-out, transform .5s ease-in-out .2s;
}
@-webkit-keyframes opener {
    100% {
       top: 80%;
    }
}
@keyframes opener {
    100% {
    top: 90%;
    }
}
